/*Managing the overall website style*/
/**{
	background-color: dimgray;
}
*/
#loader{
	font-family: monospace;
	display: none;
	color: black;
	margin-top: 2.5%;
}

header{
	display: flex;
	color: black;
	font-family: monospace;
	justify-content: center;
	width: 40vw;
	height: auto;
	justify-self: center;
	gap: 5%;
	font-size: large;
}

